<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/useradd}" method="post">
		<div class="form-group">
			<input type="text" required class="form-control item" id="uname"
				name="uname" placeholder="Username">
		</div>
		<br>
		<div class="form-group">
			<input type="password" required class="form-control item"
				id="upassword" name="upassword" placeholder="Password">
		</div>
		<br>
		<div class="form-group">
			<input type="text" required class="form-control item" id="uemail"
				name="uemail" placeholder="Email">
		</div>
		<br>
		<div class="form-group">
			<input type="submit" required value="Đăng ký tài khoản"
				class="btn btn-block create-account">
		</div>
	</form>
	<br>
	<a th:href="@{/}">Return to home page</a>
</body>
</html>